.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 10rem;
}
.foodbanner {
  width: 100%;
  height: 55rem;
  background-image: url("../../images/cooking-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodmoto {
  background-color: var(--background-color-second);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 2rem;
}

.herodescription {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13rem 50rem;
}
.herodescriptiontext {
  font-size: 5rem;
}

.titleForLogIn {
  font-size: 4rem;
  padding: 4rem;
  margin: 6rem;
  border-style: solid;
  border-color: var(--main-color-primary);
  border-radius: 5rem;
}

.loginGuidanceHeroContainer {
  background-color: var(--default-button);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 5rem;
  padding: 4rem;
}
.loginGuidanceHero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
  height: 100%;
  width: 90%;
}
.loginGuidanceHero img {
  border-radius: 5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
  height: 20%;
  width: 50%;
}
.logInExplanation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
  padding: 5rem;
  font-size: 3rem;
}

.credentials {
  font-size: 2vh;
  padding: 2rem;
  background-color: var(--main-color-primary);
  border-radius: 2rem;
  border-style: solid;
  color: var(--plain-white);
  margin-top: 15rem;
}
