.logInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  color: var(--main-text);
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.inputLogin {
  width: 30vh;
  margin: 1vh;
  padding: 2rem;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: 700;
  border-color: var(--main-color-primary);
  border-style: solid;
  box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.425);
  background-color: var(--background-color-primary);
  transition: all 0.5s;
}

.inputLogin:focus {
  background-color: var(--default-button);
}

.logInHeading {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  padding: 3rem;
}

.logInButton {
  width: 20vh;
  border-radius: 4rem;
  padding: 1rem;
  margin: 5rem;
  height: 4vh;
  color: var(--main-text);
  background-color: var(--default-button);
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 5px 5px #1717172d;
  border-color: var(--main-color-primary);
  border-style: solid;
  transition: all 0.3s;
}

.logInButton:hover {
  background-color: var(--main-color-second);
  transform: translateY(2px);
  box-shadow: 0px 2px 2px #171717;
}
