.recipesBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  width: 100%;
  height: 90vh;
}

.recipesFirstHeader {
  font-size: 5rem;
}
.recipesSecondHeader {
  font-size: 3rem;
  padding: 4rem;
}

.SearchAndDisplayContainer {
  margin-top: 4vh;
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchConatiner {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayConatiner {
  background-color: red;
  width: 55%;
}
.searchRecipeForm {
  display: flex;
  width: 80%;
  height: 30%;
  justify-content: space-around;
  align-items: center;
}
.selectSearchOptions {
  padding: 1.2vh;
  margin: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-color: var(--main-color-primary);
  font-weight: 700;
}
.searchContainerFilterText {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.3rem;
}
.selectSearchOptions option {
  font-size: 1.3vh;
}
.randomRecipeButton {
  margin: 6rem;
}
.listRecipesByName {
  height: 50%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipeListAfterSearchForPreview {
  font-size: 3rem;
}
.afterTheOptionInput {
  padding: 1vh;
  border-radius: 5rem;
  margin: 1rem;
  border-style: solid;
  border-color: var(--main-color-primary);
}

.randomRecipeButton {
  padding: 2vh;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  border-style: solid;
  border-color: var(--main-color-primary);
}

.searchTheRecipeButton {
  padding: 1.2vh;
  font-size: 1.5rem;
  border-radius: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  margin: 1rem;
  border-style: solid;
  border-color: var(--main-color-primary);
}
