.footer {
  bottom: 0;
  background-color: var(--main-color-second);
  display: flex;
  height: 16vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logofooter {
  height: 17rem;
}

.copyrighttext {
  color: var(--main-text);
  font-size: 1.7rem;
  font-weight: 800;
}

.sociallist {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.sociallist li {
  padding: 1.8rem;
  font-size: 2rem;
  font-weight: 800;
}

.iconlist {
  cursor: default;
}

.iconlist img {
  height: 3rem;
  padding-right: 2rem;
}
