.secondnav {
  background-color: var(--background-color-second);
  border-style: solid;
  border-color: var(--main-color-primary);
  height: 9vh;
}

.secondnav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.secondnav li {
  padding: 25px 60px;
  color: var(--main-text);
  transition: all 0.3s;
  cursor: pointer;
}

.secondnav li:hover {
  border-style: solid;
  letter-spacing: 8px;
  border-radius: 3rem;
  padding: 13px 80px;
  border-color: var(--background-color-primary);
}

.secondnav a:global(.active) {
  color: var(--background-color-primary);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
