.secondnav {
  background-color: var(--background-color-second);
  border-style: solid;
  border-color: var(--main-color-primary);
  height: 6vh;
}

.secondnav ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-left: 2vh;
}

.secondnav li {
  padding: 2vh 6vh;
  color: var(--main-text);
  transition: all 0.3s;
  cursor: pointer;
  letter-spacing: 0.2rem;
  font-size: 2.5vh;
  font-weight: 700;
}

.secondnav li:hover {
  color: var(--background-color-primary);
  text-decoration: underline;
}

.secondnav a:global(.active) {
  color: var(--background-color-primary);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
