.displayConatiner {
  height: 100%;
}
.displayImageContainer {
  height: 35%;
  width: 100%;
  border-bottom: 4px solid var(--main-color-primary);
}
.displayImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.displayConatinerLeftAndRight {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.displayContainerLeft {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid var(--main-color-primary);
  font-size: 2rem;
  overflow: scroll;
}
.displayContainerRight::-webkit-scrollbar,
.displayContainerLeft::-webkit-scrollbar {
  display: none;
}

.displayContainerRight {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  overflow: scroll;
}
.cookingStepsContainer {
  padding: 2vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ingredientsContainer {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
