.searchConatiner {
  background-color: rgb(2, 117, 117);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.formSearchContainer {
  margin-top: 3rem;
  height: 50%;
  width: 90%;
}
