@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --background-color-primary: #e5e8e9;
  --background-color-second: #7a8f7bf6;
  --main-color-primary: #5a5e59;
  --main-color-second: #8799a169;
  --default-button: rgb(11, 53, 47);
  --main-text: #171717;
  --plain-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color-primary);
  color: var(--main-text);
  font-weight: 400;
  height: 100vh;
  width: 100%;
}
.navlink:link,
.navlink:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--main-text);
  font-weight: 800;
}
